//Mobile breakpoint
@media(max-width:480px){

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    border-radius: 25px;
    float: left;
}
li{
    list-style: none;
}
// block 1 style starts
.block1{
    background-image: url(/img/firsthero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 462px;
    width: 100%;
    background-color: #f6fafd;
    margin-bottom: 60px ;
}
.vet-clinic{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 70px;
}
.true-friend{
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    font-family: roboto;
    // margin-top: 80px;
}
// block 1 style ends

// block 2 style starts
.block2{
    background-color: white;
    margin-bottom: 50px;

}
.block2-div1{
    background-color: black;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.clean-it{
    color: white;
    font-size: 50px;
    font-family: roboto;
    margin-left: 30px;
    padding-top: 30px;
}
.arrow{
    color: white;
    background-color: black;
    margin-left: 40px;
    margin-top: 10px;
}
.block2-div2{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    height: 250px;
}

.heart-text{
    font-family: open sans;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.block2-div3{
    background-image: url(/img/man.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.block2-second1{
   text-align: center; 
}
.sketch-puptext{
    font-family: open sans;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.block2-second2{
    background-image: url(/img/mouthopen.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 455px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.block2-second3{
    text-align: center; 
}
 .sketch-kittext{
    font-family: open sans;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
// block 2 style ends

// block 3 style starts
.block3{
    background-image: url(/img/herocat.jpeg);
    height: 540px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:0px;
}
.block3-big{
    font-size: 40px;
    color: white;
    font-family: play fair display;
    padding-top: 50px;
    text-align: justify;
    padding-left: 50px;
}

.block3-small{
    text-align: justify;
    font-size: 23px;
    color: white;
    font-family: roboto;
    padding-left: 50px;
    
    
}
// block 3 style ends

// block 4 style starts
.block4{
background-color: #e5e5e5;
margin-bottom: 90px;
padding-bottom: 40px;

}
.block4-text{
    text-align: justify;
    margin-left: 50px;
    padding-top: 60px;
    margin-bottom: 20px;
    height: 300px;
    
}
.block4-vet{
    font-size: 20px;
    font-family: open sans;
}
.block4-rescue{
    font-size: 36px;
    font-family: playfair display;

}
.block4-small{
    font-size: 20px;
    font-family: open sans;
    margin-right: 80px;
    
    
    
}
.block4-lady{
    background-image: url(/img/lady.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.block4-sketch{
    background-color: #000000;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
}
// block 4 style ends

// block 5 style starts
.block5{
    margin-bottom: 0px;
}
.block5-first{
    text-align: center;
    background-color: #e5e5e5;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.dog-train{
    font-size: 21px;
    font-family: open sans;
    font-weight: 400px;
}
.we-use{
    font-size: 36px;
    font-family: playfair display;
}
.block5-second{
    margin-bottom: 30px;
}
.block5-last-text{
    font-size: 17px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.color{
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
    font-size: 30px;
}
.social-media{
    padding-left: 20px;
    padding-bottom: 50px;
}
// block 5 style ends

// block 6 styel starts
.block6{
    background-color: #f2f2f2;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
.block6-text{
    padding-left: 20px;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
    margin-right: 60px;
}
.block6-text1{
    font-size: 36px;
}
.block6-text2{
    font-size: 20px;
}
.block6-text3{
    font-size: 16px;
    padding-bottom: 10px;
}
.button{
    background-color: #000000;
    color: white;
    font-size: 20px;
    padding: 7px 45px 7px 45px;
    margin-left: 20px;
}
// block 6 style ends

// block 7 style starts
.block7{
    background-color: #000000;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 50px;
    margin-bottom: 0px;
}
.media{
    text-decoration: none;
    color: white;
}

// block 7 style ends

// block 8 style starts
.block8{
    margin-bottom: 0px;
    background-color: #dfe6ee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sweet-big{
    font-size: 36px;
    font-family: playfair display;
    margin-left: 20px;
    margin-right: 50px;
    // padding-top: 500px;
}
.block8-first{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.sweet-small{
    font-size: 19px;
    font-family: open sans;
    padding-bottom: 10px;
    margin-left: 30px;

    
    
}
.block8-second{
    text-align: center;
}
form{
  margin-bottom: 10px;
  padding-bottom: 10px; 
  
}
#name{
    height: 46px;
    width: 300px;
}
.button-last{
    background-color: #000000;
    color: white;
    // padding-left: 65px;
    // padding-right: 65px;
    height: 46px;
    width: 300px;
}
// block 8 style ends
    
// footer style starts
.foot{
    background-color: black;
    padding-top: 10px;
    height: 140px;
    width: 100%;
}
.only3{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
}
.foot-li{
    text-decoration: none;
    color: white;
}
a{
 text-decoration: none; 
 color: white;  
}
.white{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 5px;
}
.our-info{
    color: white;
}
.copy-right{
    color: white;
    font-size: 10px;
    text-align: center;
    padding-bottom: 5px;
}
}
// footer style ends
// mobile device style ends

//Tablet Breakpoint
@media (min-width:481px) and (max-width:768px){
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    border-radius: 25px;
    float: left;
}
li{
    list-style: none;
}
    // block 1 style starts
.block1{
    background-image: url(/img/firsthero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    width: 100%;
    background-color: #f6fafd;
    margin-bottom: 60px ;
}
.vet-clinic{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 50px;
    
}
.true-friend{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    font-family: roboto;
    margin-top: 20px;
}

// block 1 style ends

// block 2 style starts	
.block2{
    background-color: white;
    margin-bottom: 50px;

}
.block2-row1{
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
}

.block2-div1{
    background-color: #000000;
    height: 350px;
    width: 240px;
    
}
.clean-it{
    color: white;
    font-size: 40px;
    font-family: roboto;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
}
.arrow{
    color: white;
    background-color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    
    
}
.block2-div2{
    height: 350px;
    width: 240px;
    text-align: center;
    
    
}
.heart{
    height: 90px;
    width: 90px;

}
.heart-text{
    font-family: open sans;
    font-size: 19px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
    
}
.block2-div3{
    background-image: url(/img/man.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 240px;
}
    

.block2-row2{
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 50px;

}
.block2-second1{
   text-align: center; 
   height: 350px;
   width: 240px;
}
.sketch-pup{
    height: 100px;
    width: 100px;
}
.sketch-puptext{
    font-family: open sans;
    font-size: 19px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
}
.block2-second2{
    background-image: url(/img/mouthopen.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 240px;
}
.block2-second3{
    text-align: center; 
    height: 350px;
    width: 240px;
}
.sketch-kitten{
    height: 90px;
    width: 90px;
}
.sketch-kittext{
    font-family: open sans;
    font-size: 19px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
}

// block 2 style ends

// block 3 style starts

.block3{
    background-image: url(/img/herocat.jpeg);
    height: 540px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:0px;
}
.block3-big{
    font-size: 50px;
    color: white;
    font-family: play fair display;
    padding-top: 50px;
    text-align: justify;
    padding-left: 50px;
}
.block3-small{
    text-align: justify;
    font-size: 23px;
    color: white;
    font-family: roboto;
    padding-left: 50px;
}
.block4{
    background-color: #e5e5e5;
    margin-bottom: 60px;
    padding-bottom: 40px;
    display: flex;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 50px;
}

.block4-text{
    text-align: justify;
    height: 500px;
    width: 240px;
    
 }
.block4-vet{
    font-size: 20px;
    font-family: open sans;
    padding-top: 30px;
}
.block4-rescue{
    font-size: 36px;
    font-family: playfair display;
    padding-right: 50px;
    
}
.block4-small{
    font-size: 21px;
    font-family: open sans;
    padding-right: 20px;
        
}
.block4-lady{
    background-image: url(/img/lady.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 240px;
    
        
}
.block4-sketch{
    background-color: #000000;
    height: 500px;
    width: 240px;
}
.lady-sketch{
    height: 200px;
    width: 100%;
    margin-top: 300px;
}
// block 4 style ends
    
// block 5 style starts
.block5{
    margin-bottom: 0px;
}
.block5-first-second{
    display: flex;
}

.block5-first{
    text-align: center;
    background-color: #e5e5e5;
    padding-top: 250px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    height: 500px;
    width: 50%;
}
.dog-train{
    font-size: 20px;
    font-family: open sans;
    font-weight: 400px;
}
.we-use{
    font-size: 40px;
    font-family: playfair display;
}
.block5-second{
    margin-bottom: 30px;
    height: 500px;
    width: 50%;
    
}
.block5-last-text{
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
}
.color{
    color: #000000;
    text-decoration: none;
    padding-right: 13px;
    font-size: 28px;
}
.social-media{
    padding-left: 20px;
    padding-bottom: 50px;
}
// block 5 style ends

// block 6 styel starts
.block6{
    display: flex;
    background-color: #f2f2f2;
    margin-bottom: 0px;
}
.block6-text{
    // padding-left: 20px;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
    height: 400px;
    width: 50%;
    margin-bottom: 0px;
}
.block6-text1{
    font-size: 36px;
    padding-left: 60px;
}
.block6-text2{
    font-size: 20px;
    padding-left: 60px;
}
.block6-text3{
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 60px;
    
    
}

.button{
    background-color: #000000;
    color: white;
    font-size: 20px;
    padding: 7px 45px 7px 45px;
    margin-left: 60px;
    
}
// block 6 style ends

// block 7 style starts
.block7{
    background-color: #000000;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 50px;
    margin-bottom: 0px;
}
.media{
    text-decoration: none;
    color: white;
}
// block 7 style ends

// block 8 style starts
.block8{
    background-image: url(/img/sweetheart.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dfe6ee;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 0px;
    height: 400px;
    width: 100%;
}
.block8-first{
    height: 300px;
    width: 450px;
    float: right;
    margin-right: 30px;
    padding-top: 100px;
    
}
.block8-second{
    float: right;
    display: flex;
    margin-right: 30px;
    
}
.sweet-big{
    font-size: 36px;
    font-family: playfair display;
}
.sweet-small{
    font-size: 17px;
    font-family: open sans;
    padding-bottom: 10px;
}

#name{
    height: 46px;
    width: 300px;
}
.button-last{
    background-color: #000000;
    color: white;
    padding-left: 65px;
    padding-right: 65px;
    // height: 46px;
    // width: 300px;
}
// block 8 style ends
    
// footer style starts
.foot{
    background-color: black;
    padding-top: 10px;
    height: 140px;
    width: 100%;
}
.only3{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
}
.foot-li{
    text-decoration: none;
    color: white;
}
a{
 text-decoration: none; 
 color: white;  
}
.white{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-left: 5px;
}
.our-info{
    color: white;
}
.copy-right{
    color: white;
    font-size: 10px;
    text-align: center;
    padding-bottom: 5px;
}
}
// footer style ends

@media (min-width:769px) and (max-width:1200px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .logo{
        border-radius: 25px;
        float: left;
    }
    
    li{
        list-style: none;
        
    }
        // block 1 style starts
    .block1{
        background-image: url(/img/firsthero.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 780px;
        width: 100%;
        background-color: #f6fafd;
        margin-bottom: 100px ;
    }
    .vet-clinic{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        padding-top: 50px;
        
    }
    .true-friend{
        text-align: center;
        font-size: 100px;
        font-weight: bolder;
        font-family: roboto;
        margin-top: 20px;
    }
    
    // block 1 style ends
    
    // block 2 style starts	
    .block2{
        background-color: white;
        margin-bottom: 50px;
        
        
    
    }
    .block2-row1{
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .block2-div1{
        background-color: #000000;
        height: 500px;
        width: 373.33px;
        
    }
    .clean-it{
        color: white;
        font-size: 55px;
        font-family: roboto;
        margin-left: 30px;
        padding-top: 100px;
    }
    .arrow{
        color: white;
        background-color: black;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
        
    }
    .block2-div2{
        height: 500px;
        width: 373.33px;
        text-align: center;
        
        
        
    }
    .heart{
        height: 200px;
        width: 200px;
    
    }
    .heart-text{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 10px;
        
    }
    .block2-div3{
        background-image: url(/img/man.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 373.33px;
    }
        
    
    .block2-row2{
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    
    }
    .block2-second1{
       text-align: center; 
       height: 500px;
       width: 373.33px;
    }
    .sketch-pup{
        height: 150px;
        width: 150px;
    }
    .sketch-puptext{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding-left: 22px;
        padding: 20px 22px 10px 22px;
    }
    .block2-second2{
        background-image: url(/img/mouthopen.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 373.33px;
    }
    .block2-second3{
        text-align: center; 
        height: 500px;
        width: 373.33px;
    }
    .sketch-kitten{
        height: 150px;
        width: 150px;
    }
    .sketch-kittext{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding: 22px;
        padding-right: 20px 22px 20px 22px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    // block 2 style ends
    
    // block 3 style starts
    
    .block3{
        background-image: url(/img/herocat.jpeg);
        height: 700px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom:0px;
    }
    .block3-big{
        font-size: 58px;
        color: white;
        font-family: play fair display;
        padding-top: 50px;
        text-align: justify;
        padding-left: 50px;
    }
    .block3-small{
        text-align: justify;
        font-size: 29px;
        color: white;
        font-family: roboto;
        padding-left: 50px;
    }

    // block 4 starts
    .block4{
        background-color: #e5e5e5;
        // margin-bottom: 60px;
        display: flex;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 70px;
    }
    
    .block4-text{
        text-align: justify;
        height: 700px;
        width: 373.33px;
        
     }
    .block4-vet{
        font-size: 30px;
        font-family: open sans;
        padding-top: 30px;
    }
    .block4-rescue{
        font-size: 40px;
        font-family: playfair display;
        padding-right: 50px;
        
    }
    .block4-small{
        font-size: 30px;
        font-family: open sans;
        padding-right: 20px;
            
    }
    .block4-lady{
        background-image: url(/img/lady.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        width: 373.33px;
        
            
    }
    .block4-sketch{
        background-color: #000000;
        height: 700px;
        width: 373.33px;
    }
    .lady-sketch{
        height: 400px;
        width: 100%;
        margin-top: 300px;
    }
    // block 4 style ends
        
    // block 5 style starts
    .block5{
        
        display: flex;
        margin-bottom: 0px;
        
    
    }
    .block5-first-second{
        display: flex;
    }
    
    .block5-first{
        text-align: center;
        background-color: #e5e5e5;
        padding-top: 250px;
        padding-bottom: 15px;
        // margin-bottom: 0px;
        height: 700px;
        width: 373.33px;
    }
    .dog-train{
        font-size: 20px;
        font-family: open sans;
        font-weight: 400px;
    }
    .we-use{
        font-size: 40px;
        font-family: playfair display;
    }
    .block5-second{
        // margin-bottom: 30px;
        height: 700px;
        width: 373.33px;
        
    }
    .block5-third{
        height: 700px;
        width: 373.33px;
    }
    .block5-last-text{
        font-size: 25px;
        margin-left: 35px;
        margin-right: 10px;
        padding-top: 250px;
    }
    .white-dog{
        height: 700px;
    }
    .color{
        
        color: #000000;
        text-decoration: none;
        padding-right: 30px;
        font-size: 35px;
    }
    .social-media{
        
        padding-left: 40px;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    // block 5 style ends
    
    // block 6 styel starts
    .block6{
        display: flex;
        background-color: #eeeeee;
        margin-bottom: 0px;
        padding-top: 50px;
    }
    .block6-text{
        // padding-left: 20px;
        padding-top: 70px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #f2f2f2;
        height: 500px;
        width: 50%;
        margin-bottom: 0px;
    }
    .block6-text1{
        font-size: 40px;
        padding-left: 60px;
    }
    .block6-text2{
        font-size: 30px;
        padding-left: 60px;
    }
    .block6-text3{
        font-size: 25px;
        padding-bottom: 10px;
        padding-left: 60px;
    }
    .black-dog{
        height: 500px;
        width: 100%;
    }
    
    .button{
        background-color: #000000;
        color: white;
        font-size: 25px;
        padding: 9px 50px 9px 50px;
        margin-left: 60px;
        
    }
    // block 6 style ends
    
    // block 7 style starts
    .block7{
        background-color: #000000;
        color: white;
        font-size: 45px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 150px 50px 50px 50px;
        margin-bottom: 0px;
        height: 500px;
        width: 100%;
    }
    .media{
        text-decoration: none;
        color: white;
    }
    // block 7 style ends
    
    // block 8 style starts
    .block8{
        background-image: url(/img/sweetheart.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #dfe6ee;
        text-align: center;
        padding-bottom: 60px;
        margin-bottom: 0px;
        height: 500px;
        width: 100%;
    }
    .block8-first{
        // height: 300px;
        // width: 450px;
        // float: right;
        margin-left: 100px;
        padding-top: 100px;
        text-align: center;
        
    }
    .block8-second{
        float: right;
        display: flex;
        margin-right: 30px;
        margin-top: 40px;
        
    }
    .sweet-big{
        font-size: 50px;
        font-family: playfair display;
        margin-left: 500px;
    }
    .sweet-small{
        font-size: 25px;
        font-family: open sans;
        padding-bottom: 10px;
        margin-left: 400px;
        margin-right: 50px;
    }
    
    
    #name{
        height: 60px;
        width: 300px;
    }
    .button-last{
        background-color: #000000;
        color: white;
        padding-left: 65px;
        padding-right: 65px;
        height: 60px;
        font-size: 25px;
        // width: 300px;
    }
    // block 8 style ends
        
    // footer style starts
    .foot{
        background-color: black;
        padding-top: 20px;
        // height: 160px;
        width: 100%;
    }
    .only3{
        display: flex;
        font-size: 20px;
        justify-content: space-around;
    }
    .foot-li{
        text-decoration: none;
        color: white;
    }
    a{
     text-decoration: none; 
     color: white;  
    }
    .white{
        color: white;
        text-decoration: none;
        font-size: 25px;
        padding-left: 5px;
        padding-right: 10px;
    }
    .our-info{
        color: white;
    }
    .copy-right{
        color: white;
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
    }
   
    }
    // footer style ends
  
@media (min-width: 1200px) {

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .logo{
        border-radius: 25px;
        float: left;
    }
    
    li{
        list-style: none;
        
    }
        // block 1 style starts
    .block1{
        background-image: url(/img/firsthero.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 780px;
        width: 100%;
        background-color: #f6fafd;
        margin-bottom: 100px ;
    }
    .vet-clinic{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        padding-top: 50px;
        
    }
    .true-friend{
        text-align: center;
        font-size: 100px;
        font-weight: bolder;
        font-family: roboto;
        margin-top: 20px;
    }
    
    // block 1 style ends
    
    // block 2 style starts	
    .block2{
        background-color: white;
        margin-bottom: 50px;
        
        
    
    }
    .block2-row1{
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .block2-div1{
        background-color: #000000;
        height: 500px;
        width: 373.33px;
        
    }
    .clean-it{
        color: white;
        font-size: 55px;
        font-family: roboto;
        margin-left: 30px;
        padding-top: 100px;
    }
    .arrow{
        color: white;
        background-color: black;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
        
    }
    .block2-div2{
        height: 500px;
        width: 373.33px;
        text-align: center;
        
        
        
    }
    .heart{
        height: 200px;
        width: 200px;
    
    }
    .heart-text{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 10px;
        
    }
    .block2-div3{
        background-image: url(/img/man.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 373.33px;
    }
        
    
    .block2-row2{
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    
    }
    .block2-second1{
       text-align: center; 
       height: 500px;
       width: 373.33px;
    }
    .sketch-pup{
        height: 150px;
        width: 150px;
    }
    .sketch-puptext{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding-left: 22px;
        padding: 20px 22px 10px 22px;
    }
    .block2-second2{
        background-image: url(/img/mouthopen.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 373.33px;
    }
    .block2-second3{
        text-align: center; 
        height: 500px;
        width: 373.33px;
    }
    .sketch-kitten{
        height: 150px;
        width: 150px;
    }
    .sketch-kittext{
        font-family: open sans;
        font-size: 25px;
        text-align: center;
        padding: 22px;
        padding-right: 20px 22px 20px 22px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    // block 2 style ends
    
    // block 3 style starts
    
    .block3{
        background-image: url(/img/herocat.jpeg);
        height: 700px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom:0px;
    }
    .block3-big{
        font-size: 58px;
        color: white;
        font-family: play fair display;
        padding-top: 50px;
        text-align: justify;
        padding-left: 50px;
    }
    .block3-small{
        text-align: justify;
        font-size: 29px;
        color: white;
        font-family: roboto;
        padding-left: 50px;
    }

    // block 4 starts
    .block4{
        background-color: #e5e5e5;
        // margin-bottom: 60px;
        display: flex;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 70px;
    }
    
    .block4-text{
        text-align: justify;
        height: 700px;
        width: 373.33px;
        
     }
    .block4-vet{
        font-size: 30px;
        font-family: open sans;
        padding-top: 30px;
    }
    .block4-rescue{
        font-size: 40px;
        font-family: playfair display;
        padding-right: 50px;
        
    }
    .block4-small{
        font-size: 30px;
        font-family: open sans;
        padding-right: 20px;
            
    }
    .block4-lady{
        background-image: url(/img/lady.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        width: 373.33px;
        
            
    }
    .block4-sketch{
        background-color: #000000;
        height: 700px;
        width: 373.33px;
    }
    .lady-sketch{
        height: 400px;
        width: 100%;
        margin-top: 300px;
    }
    // block 4 style ends
        
    // block 5 style starts
    .block5{
        
        display: flex;
        margin-bottom: 0px;
        
    
    }
    .block5-first-second{
        display: flex;
    }
    
    .block5-first{
        text-align: center;
        background-color: #e5e5e5;
        padding-top: 250px;
        padding-bottom: 15px;
        // margin-bottom: 0px;
        height: 700px;
        width: 373.33px;
    }
    .dog-train{
        font-size: 20px;
        font-family: open sans;
        font-weight: 400px;
    }
    .we-use{
        font-size: 40px;
        font-family: playfair display;
    }
    .block5-second{
        // margin-bottom: 30px;
        height: 700px;
        width: 373.33px;
        
    }
    .block5-third{
        height: 700px;
        width: 373.33px;
    }
    .block5-last-text{
        font-size: 25px;
        margin-left: 35px;
        margin-right: 10px;
        padding-top: 250px;
    }
    .white-dog{
        height: 700px;
    }
    .color{
        
        color: #000000;
        text-decoration: none;
        padding-right: 30px;
        font-size: 35px;
    }
    .social-media{
        
        padding-left: 40px;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    // block 5 style ends
    
    // block 6 styel starts
    .block6{
        display: flex;
        background-color: #eeeeee;
        margin-bottom: 0px;
        padding-top: 50px;
    }
    .block6-text{
        // padding-left: 20px;
        padding-top: 70px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #f2f2f2;
        height: 500px;
        width: 50%;
        margin-bottom: 0px;
    }
    .block6-text1{
        font-size: 40px;
        padding-left: 60px;
    }
    .block6-text2{
        font-size: 30px;
        padding-left: 60px;
    }
    .block6-text3{
        font-size: 25px;
        padding-bottom: 10px;
        padding-left: 60px;
    }
    .black-dog{
        height: 500px;
        width: 100%;
    }
    
    .button{
        background-color: #000000;
        color: white;
        font-size: 25px;
        padding: 9px 50px 9px 50px;
        margin-left: 60px;
        
    }
    // block 6 style ends
    
    // block 7 style starts
    .block7{
        background-color: #000000;
        color: white;
        font-size: 45px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 150px 50px 50px 50px;
        margin-bottom: 0px;
        height: 500px;
        width: 100%;
    }
    .media{
        text-decoration: none;
        color: white;
    }
    // block 7 style ends
    
    // block 8 style starts
    .block8{
        background-image: url(/img/sweetheart.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #dfe6ee;
        text-align: center;
        padding-bottom: 60px;
        margin-bottom: 0px;
        height: 500px;
        width: 100%;
    }
    .block8-first{
        // height: 300px;
        // width: 450px;
        // float: right;
        margin-left: 100px;
        padding-top: 100px;
        text-align: center;
        
    }
    .block8-second{
        float: right;
        display: flex;
        margin-right: 30px;
        margin-top: 40px;
        
    }
    .sweet-big{
        font-size: 50px;
        font-family: playfair display;
        margin-left: 500px;
    }
    .sweet-small{
        font-size: 25px;
        font-family: open sans;
        padding-bottom: 10px;
        margin-left: 400px;
        margin-right: 50px;
    }
    
    
    #name{
        height: 60px;
        width: 300px;
    }
    .button-last{
        background-color: #000000;
        color: white;
        padding-left: 65px;
        padding-right: 65px;
        height: 60px;
        font-size: 25px;
        // width: 300px;
    }
    // block 8 style ends
        
    // footer style starts
    .foot{
        background-color: black;
        padding-top: 20px;
        // height: 160px;
        width: 100%;
    }
    .only3{
        display: flex;
        font-size: 20px;
        justify-content: space-around;
    }
    .foot-li{
        text-decoration: none;
        color: white;
    }
    a{
     text-decoration: none; 
     color: white;  
    }
    .white{
        color: white;
        text-decoration: none;
        font-size: 25px;
        padding-left: 5px;
        padding-right: 10px;
    }
    .our-info{
        color: white;
    }
    .copy-right{
        color: white;
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
    }
   
    } 










    


